<!-- Footer -->
<footer>
    <div class="container-fluid bg pt-2">
      <div class="row">
        <div class="mb-3 col-lg-7 col-md-6  col-sm-4 col-3">
          <!--Icon würde zur Homepage von Klima3000 verweisen, jetzt lädt er die Seite neu-->
          <a href="" class="link-success"><img src="assets/logo1.png" class=" d-inline-block align-top" width="40px" height="40px" alt="Klima3000 Logo"></a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-5 text-sm-end">
          <p>Folgen Sie uns auf:</p>
        </div>

        <!--Die Icons würden als Links zu den Social Media Kanälen von Klima3000 dienen, momentan laden sie nur die Seite neu und bringen den Nutzer auf die Startseite-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-4 text-sm-start">
          <a href="" style="padding-left:10px;"><i class="bi bi-facebook"></i></a>
          <a href="" style="padding-left:10px;"><i class="bi bi-instagram"></i></a>
          <a href="" style="padding-left:10px;"><i class="bi bi-twitter-x "></i></a>
          <a href="" style="padding-left:10px;"><i class="bi bi-youtube"></i></a>
        </div>

        </div>

        <!--Links zum Impressum und Datenschutz-->
        <hr class="thick">
        <div class="row pb-3">
          <div class="col-md-3"></div>
          <div class="col-md-3 text-md-start text-center">
              <a routerLink="/impressum" class="nav-item">Impressum</a>
          </div>

          <div class="col-md-3 text-md-end text-center">
              <a routerLink="/legal" class="nav-item">Datenschutz</a>
          </div>

      </div>  <!-- Ende von row -->
    </div>  <!-- Ende von container-fluid -->
  </footer> <!-- Ende von footer -->
