/*Für die Bilder in der Bootstrap Carousel-Komponente*/
.slidepicture{
 max-height: 400px;
}


@media only screen and (max-width: 767px) {
    .slidepicture {
        max-height: 300px;
    }
  }

@media only screen and (max-width: 575px) {
    .slidepicture {
        max-height:200px;
    }
  }